{% extends 'base.html' %}


{% block main %}

<div class="row">
    <div class="col-md-6">
        <div class="wrapper wp">
            <div class="profile pf">
                <div class="overlay ol">
                    <div class="about d-flex flex-column">
                        <h4 class="goReg">Nuriddin Nizomov</h4> <span>Software Developer</span>
                    </div>
                    <ul class="social-icons si">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}