{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block main %}

<div class="container text-center">
    <div style="display: block;" class="pt-5 pb-5">
        <div class="col-md-6 bg-light offset-md-3 p-5" style="border-radius: 6px">
            <form action="" method="post">
                {% csrf_token %}
                <h5>Are You Sure To Delete Movie "{{ article.title }}" ???</h5><br>
                <div class="d-flex justify-content-evenly">
                    <button class="btn btn-danger">Submit</button>
                    <a href="{% url 'index' %}" class="btn btn-primary"> Go Back </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main %}